.italic-text {
    font-style: italic;
}

/* Контент  */
body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.text-page {
    padding-left: 15px;
}

.page {
    display: flex;
    justify-content: center;
}

.list-container {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
}

.list-container>p {
    text-align: center;
    font-weight: bold;
}

.img-container {
    float: right;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
    margin-left: 20px;
}

.img-container>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-html5 {
    max-width: 70px;
}

/* Верхняя навигационная панель */
.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(137, 197, 231, 0.993);
}

.nav-container>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav-container>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-width: 900px) {
    .nav-container {
        flex-direction: column;
    }
}

/* Боковая навигационная панель */
.header {
    width: 14%;
    background-color: aquamarine;
}

.section {
    width: 82%;
}

.header>ol {
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0px;
    padding-bottom: 10px;
}

.header>div {
    width: 100%;
}

.header>div>img {
    width: 100%;
}
